
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  
    &__logo {
      margin-right: 40px;
    }
  
    &__phone {
      position: relative;
      margin-right: 14px;
  
      &-link {
        font-size: 22px;
      }
    }
  }